div {
    width: 400px;
    height: 400px;
    margin: 50px auto;

    /* Bordas e arredondamento */
    border: 15px solid #f4e422;
    border-radius: 20%;

    /* Imagem de fundo */
    background-image: url("redhead_computer.png");
    background-size: cover;

    /* Sombra da caixa */
    box-shadow: inset 30px 25px 20px 5px rgb(232, 123, 14);

    /* Contorno por fora */
    outline: 15px double rgb(232, 123, 14);

    /* Preenchimento interno */
    padding: 30px;
    text-align: center;
}

p {
    font-style: oblique;
    font-size: 50px;
    color: rgb(245, 224, 118);
    font-weight: bold;
    padding-top: 80px;
}

 footer {
     background-color: #e87b0e;
     color: #fff;
     padding: 5px;
     text-align: center;
 }
